
{% extends "base.html" %}
{% block content %}
    
  <h1>SEA - Student's Emporium for All</h1>
  <p>Dive into student life with SEA.</p>

  <a href="{{ url_for('marketplace') }}">
    <button>Explore Marketplace</button>
  </a>

  <a href="{{ url_for('services') }}">
    <button>Browse Services</button>
  </a>

  <a href="{{ url_for('organizations') }}">
    <button>View Organizations</button>
  </a>

  <a href="{{ url_for('register') }}">
    <button>Register Now</button>
  </a>
{% endblock %}
